extends layout 

block content
    .container.p-3
        h1 Gerenciar Imagens Adicionais
        a.btn.btn-secondary.mb-3.p-2(href="/admin/feiras") Voltar

        // Formulário para adicionar uma nova imagem
        form(method="POST" action=`/admin/feiras/${feiraId}/imagens/add` enctype="multipart/form-data")
            .mb-3
                label(for="nome") Nome
                input#nome.form-control(type="text" name="nome" required)
            .mb-3
                label(for="imagem") Imagem
                input#imagem.form-control(type="file" name="imagem" required)
            button.btn.btn-primary(type="submit").p-2.m-2 Adicionar Imagem

        // Lista de imagens cadastradas
        .row.justify-content-center.m-3
            each imagem in imagens
                .col-md-3
                    .card.mb-3
                        img.card-img-top(src=imagem.path, alt=imagem.nome)
                        .card-body
                            h5.card-title= imagem.nome
                            // Formulário para editar a imagem
                            form(method="POST" action=`/admin/feiras/imagens/edit/${imagem.id}` enctype="multipart/form-data")
                                input(name="feiraId", value=feiraId, type="hidden")
                                .mb-2
                                    label(for=`nome-${imagem.id}`) Nome
                                    input.form-control(id=`nome-${imagem.id}`, type="text", name="nome", value=imagem.nome, required)
                                .mb-2
                                    label(for=`imagem-${imagem.id}`) Imagem
                                    input.form-control(id=`imagem-${imagem.id}`, type="file", name="imagem")
                                .mb-2
                                    input(type="hidden", name="path", value=imagem.path)
                                button.btn.btn-warning.p-2.m-2(type="submit") Salvar
                            // Formulário para deletar a imagem
                            form(method="POST" action=`/admin/feiras/imagens/delete/${imagem.id}`)
                                input(name="feiraId", value=feiraId, type="hidden")
                                button.btn.btn-danger.p-2.m-2(type="submit") Excluir