extends layout 

block content 
    - let row = 1
    .container-fluid.py-3
        .row.justify-content-center.m-3
            .col.col-md-8
                h1 Currículo
        .row.justify-content-center.m-3    
            .col.col-md-8.mb-1
                ul(role="tablist").nav.nav-tabs.justify-content-center
                    li(role="presentation").nav-item
                        a(id="diurno-tab" data-bs-toggle="tab" data-bs-target="#diurno" type="button" role="tab" aria-controls="diurno" aria-selected="true").nav-link.active Diurno
                    li(role="presentation").nav-item
                        a(id="noturno-tab" data-bs-toggle="tab" data-bs-target="#noturno" type="button" role="tab" aria-controls="noturno" aria-selected="false").nav-link Noturno       
            .col-auto 
                .table-responsive.tab-content
                    table(role="tabpanel" aria-labelledby="diurno" tabindex="0")#diurno.tab-pane.fade.show.active.table.table-bordered.align-middle
                        thead 
                            tr
                                th(scope="col", colspan="2", rowspan="2") Área do conhecimento
                                th(scope="col", rowspan="2") Componente curricular
                                th(scope="col", colspan="3") Carga horária - h/a Semanal/ano
                                th(scope="col", rowspan="2") CH h/a
                                th(scope="col", rowspan="2") CH h/r
                            tr
                                th(scope="col") 1º Ano
                                th(scope="col") 2º Ano
                                th(scope="col") 3º Ano
                        tbody
                            - row = 1
                            each area, area_nome in diurno.formacao_geral
                                - row = 1
                                each conteudo in area
                                    tr 
                                        case area_nome
                                            when 'ciencia_humana'
                                                if row == 1
                                                    - let formacao_geral_length = diurno.formacao_geral.ciencia_humana.length + diurno.formacao_geral.ciencia_natureza.length + diurno.formacao_geral.linguagens.length + diurno.formacao_geral.matematica.length;
                                                    th(scope="row", rowspan=formacao_geral_length).vertical-text.text-center Formação Geral
                                                    th(scope="row", rowspan=diurno.formacao_geral.ciencia_humana.length) Ciências Humanas
                                            when 'ciencia_natureza'
                                                if row == 1
                                                    th(scope="row", rowspan=diurno.formacao_geral.ciencia_natureza.length) Ciências da Natureza
                                            when 'linguagens'
                                                if row == 1
                                                    th(scope="row", rowspan=diurno.formacao_geral.linguagens.length) Linguagens
                                            when 'matematica'
                                                if row == 1
                                                    th(scope="row", rowspan=diurno.formacao_geral.matematica.length) Matemática
                                        - row = row + 1
                                        td= conteudo.disciplina
                                        td.text-center= conteudo.ano1
                                        td.text-center= conteudo.ano2
                                        td.text-center= conteudo.ano3
                                        td.text-center= conteudo.ha
                                        td.text-center= conteudo.hr
                            - row = 1
                            each item in diurno.parte_diversificada
                                tr 
                                    case row 
                                        when 1
                                            th(scope="row", colspan="2", rowspan=diurno.parte_diversificada.length) Parte Diversificada
                                    - row = row + 1
                                    td= item.disciplina
                                    td.text-center= item.ano1
                                    td.text-center= item.ano2
                                    td.text-center= item.ano3
                                    td.text-center= item.ha
                                    td.text-center= item.hr
                            - row = 1
                            each item in diurno.formacao_profissional
                                tr 
                                    case row 
                                        when 1
                                            th(scope="row", colspan="2", rowspan=diurno.formacao_profissional.length) Formação Profissional
                                    - row = row + 1
                                    td= item.disciplina
                                    td.text-center= item.ano1
                                    td.text-center= item.ano2
                                    td.text-center= item.ano3
                                    td.text-center= item.ha
                                    td.text-center= item.hr
                        tfoot 
                            tr 
                                th(scope="row", colspan="2", rowspan="4")
                                td 
                                td.text-center 30
                                td.text-center 40
                                td.text-center 40
                                td(colspan="2") 
                            tr
                                th Subtotal
                                td.text-center 1200
                                td.text-center 1600
                                td.text-center 1600
                                td.text-center 4400h
                                td.text-center 3666h
                            tr 
                                th Estágio
                                td(colspan="4")
                                td.text-center 400h
                            tr 
                                th Total Geral
                                td(colspan="4")
                                td.text-center 4066h 
                    table(role="tabpanel" aria-labelledby="noturno" tabindex="0")#noturno.tab-pane.fade.table.table-bordered.text-center.align-
                        thead
                            tr
                                th(scope="col", rowspan="2") Etapas
                                th(scope="col", rowspan="2") Componente Curricular
                                th(scope="col", colspan="3") Carga horária
                            tr    
                                th(scope="col") Períodos semanais
                                th(scope="col") Total de períodos
                                th(scope="col") Semestral h/r
                        tbody 
                            - row = 1
                            each item in noturno.etapa1
                                tr
                                    case row 
                                        when 1
                                            th(scope="row", rowspan=noturno.etapa1.length) 1ª Etapa
                                    - row = row + 1        
                                    td.text-start= item.disciplina 
                                    td= item.periodos_semanais 
                                    td= item.periodos_totais 
                                    td= item.semestral
                            - row = 1
                            each item in noturno.etapa2
                                tr
                                    case row 
                                        when 1
                                            th(scope="row", rowspan=noturno.etapa2.length) 2ª Etapa
                                    - row = row + 1        
                                    td.text-start= item.disciplina 
                                    td= item.periodos_semanais 
                                    td= item.periodos_totais 
                                    td= item.semestral
                            - row = 1
                            each item in noturno.etapa3
                                tr
                                    case row 
                                        when 1
                                            th(scope="row", rowspan=noturno.etapa3.length) 3ª Etapa
                                    - row = row + 1        
                                    td.text-start= item.disciplina 
                                    td= item.periodos_semanais 
                                    td= item.periodos_totais 
                                    td= item.semestral
                        tfoot
                            tr
                                th(scope="row", rowspan="3")
                                th(scope="row").text-start Subtotal
                                td 75p
                                td 1500p
                                td 1200 horas
                            tr
                                th(scope="row").text-start Estágio Obrigatório
                                td(colspan="2")
                                td 400 horas
                            tr
                                th(scope="row").text-start Total do Curso com o Estágio
                                td(colspan="2")
                                td 1600 horas